
/* =============================================================================
  ICONS - COMMON
============================================================================= */
/**
 * Icon common styles.
 *
 * Set it to block or inline block, whichever suits your needs. Overflow set to
 * hidden for precautions, and make sure to set the font size to 0 and the text
 * indent to -9999px. This allows us to actually include text in the markup
 * which will be good for screen readers and accessibility purposes.
 **/


.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px; 
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
}


.icon:hover {
  -webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  opacity: 1.0;
  
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  -ms-transition: -ms-transform .3s;
  -o-transition: -o-transform .3s;
  transition: transform .3s;
}



/* Facebook */
.icon.facebook {
  background-image: url("../Social Media Icons/SVG/Square Grey/Facebook.svg"), none;
  background-position: 0 0;
}

.icon.facebook:hover {
  background-image: url("../Social Media Icons/SVG/Square Color/Facebook.svg"), none;
  background-position: 0 -96px;
}



/* Twitter */
.icon.twitter {
  background-image: url("../Social Media Icons/SVG/Square Grey/Twitter.svg"), none;
  background-position: -96px 0;
}

.icon.twitter:hover {
  background-image: url("../Social Media Icons/SVG/Square Color/Twitter.svg"), none;
  background-position: -96px -96px;
}



/* LinkedIn */
.icon.linkedin {
  background-image: url("../Social Media Icons/SVG/Square Grey/Linkedin.svg"), none;
  background-position: -192px 0;
}

.icon.linkedin:hover {
  background-image: url("../Social Media Icons/SVG/Square Color/Linkedin.svg"), none;
  background-position: -192px -96px;
}



/* github */
.icon.github {
  background-image: url("../Social Media Icons/SVG/Square Grey/Github.svg"), none;
  background-position: -288px 0;
}

.icon.github:hover {
  background-image: url("../Social Media Icons/SVG/Square Color/Github.svg"), none;
  background-position: -288px -96px;
}



/* google plus */
.icon.googleplus {
  background-image: url("../Social Media Icons/SVG/Square Grey/Google+.svg"), none;
  background-position: -384px 0;
}

.icon.googleplus:hover {
  background-image: url("../Social Media Icons/SVG/Square Color/Google+.svg"), none;
  background-position: -384px -96px;
}



/* rss 

.icon-mono.rss {
  background-position: -384px 0;
}

.icon-mono.rss:hover {
  background-color: #ee802f;
  background-position: -384px -96px;
}

*/


