
/* FORESTRY SERVICES MODALS */


.services-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}

.services-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}

.services-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}

.services-modal .modal-content p {
  margin-bottom: 30px;
}

.services-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}

.services-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

.services-modal .modal-content img {
  margin-bottom: 30px;
}

.services-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.services-modal .close-modal:hover {
  opacity: 0.3;
}

.services-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

.services-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

.services-modal .modal-backdrop {
  opacity: 0;
  display: none;
}